streamlit==1.32.0
python-dotenv
youtube-transcript-api==1.2.2

langchain==0.2.10
langchain-core==0.2.13
langchain-community==0.2.10
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-google-genai

chromadb==0.4.22
sentence-transformers==2.6.0

requests
